@import "src/scss/module";

.item {
  img {
    border-radius: 100px;
  }

  h4 {
    text-transform: capitalize;
  }

  dl {
    display: flex;
    gap: $spacer * 0.5;

    dd {
      text-transform: capitalize;
    }
  }

  a {
    color: $text-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__email {
    a {
      text-transform: none;
    }
  }
}
