@import "src/scss/module";

.button {
  display: block;
  flex-basis: 160px;
  border: 0;
  border-radius: var(#{--bs-border-radius});
  transition: 0.3s;
  background-color: var(#{--bs-primary});
  padding: $spacer;
  text-decoration: none !important;
  color: $white;
  @include card-hover-rise;

  &:hover {
    background-color: var(#{--bs-primary-active});
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h3 {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      min-height: 48px;
    }
  }
}
