@import "src/scss/module";

.card {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid $dark;
  padding: $spacer;
  min-height: 484px;
  @include card-hover-rise;
  @include darken-on-hover;

  &__body {
  }
}
