@import "src/scss/module";

.tag {
  flex-grow: 0;
  border-radius: var(#{--bs-border-radius-sm});
  color: $dark;
  background-color: var(#{--bs-light});
  text-decoration: none;
  padding: 3px 6px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: capitalize;
  transition: $transition-base;

  &:hover,
  &:focus {
    background-color: var(#{--bs-quaternary});
    color: $white;
  }
}
