@import "src/scss/module";

.tag {
  flex-grow: 0;
  border-radius: var(#{--bs-border-radius-sm});
  text-decoration: none;
  padding: 3px 6px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: capitalize;
  transition: $transition-base;

  &[data-variant="light"] {
    color: $dark;
    background-color: var(#{--bs-light});

    &:hover,
    &:focus {
      background-color: var(#{--bs-quaternary});
      color: $white;
    }
  }

  &[data-variant="primary"] {
    color: $white;
    background-color: var(#{--bs-primary});

    &:hover,
    &:focus {
      background-color: var(#{--bs-primary-active});
    }
  }

  &[data-variant="secondary"] {
    color: $white;
    background-color: var(#{--bs-secondary});

    &:hover,
    &:focus {
      background-color: var(#{--bs-secondary-active});
    }
  }

  &[data-variant="tertiary"] {
    color: $white;
    background-color: var(#{--bs-tertiary});

    &:hover,
    &:focus {
      background-color: var(#{--bs-tertiary-active});
    }
  }

  &[data-variant="quaternary"] {
    color: $white;
    background-color: var(#{--bs-quaternary});

    &:hover,
    &:focus {
      background-color: var(#{--bs-quaternary-active});
    }
  }
}
