@import "src/scss/module";

.breadcrumbs {
  border: 1px solid $dark;
  padding-top: $spacer * 0.75;
  padding-bottom: $spacer * 0.75;

  ol {
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
