@import "src/scss/module";

.sidebar {
  h3 {
    text-transform: capitalize;
  }

  &__nav {
    flex-direction: column;
    border: 1px solid $dark;

    [class="nav-item"]:not(:last-of-type) {
      border-bottom: 1px solid $dark;
    }

    a {
      color: $text-color;
      text-transform: capitalize;
      transition: 0.3s;

      &:hover,
      &:focus {
        text-indent: 0.5em;
        color: $text-color;
        background-color: rgba($black, 0.05);
      }
    }
  }
}
