# !!!!!!   DO NOT ADD TOKENS OR CREDENTIALS TO THIS FILE    !!!!!!

# Tokens for accessing the private github packages must be added to your system user .npmrc
# which can be found at ~/.npmrc

# Full instructions can be found in the README of each @sourceflow package on Github.

@sourceflow-uk:registry=https://npm.pkg.github.com/sourceflow-uk

registry=https://registry.npmjs.org

# !!!!!!   DO NOT ADD TOKENS OR CREDENTIALS TO THIS FILE    !!!!!!