@import "src/scss/module";

.cta {
  a {
    padding-left: $spacer;
    padding-right: $spacer;
    display: inline-flex;
    gap: $spacer * 0.5;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    @include media-breakpoint-up(md) {
      min-width: 145px;
    }
  }
}
