@import "src/scss/module";

.card {
  display: block;
  padding: $spacer;
  border-radius: var(#{--bs-border-radius-sm});
  border: 1px solid $gray-300;
  max-width: 159px;
  background-color: $white;
  @include card-hover-rise;
}
