@import "src/scss/module";

.card {
  background-color: var(#{--bs-primary});

  p {
    text-transform: capitalize;
  }

  a[role="button"] {
    text-transform: capitalize;
  }

  img {
    display: block;
    text-align: center;
    text-transform: capitalize;
    color: var(#{--bs-primary});
    clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0% 100%);
    width: 703px;
    height: 352px;
    max-width: 100%;
    background-color: var(#{--bs-light});
    object-fit: cover;
  }
}
