@import "src/scss/module";

.card {
  text-align: left;
  border: 1px solid;
  display: flex;
  flex-direction: column;

  figure {
    margin-bottom: 0;

    img {
      width: 100%;
    }
  }

  time {
    display: block;
    opacity: 0.5;
    font-size: $font-size-sm;
    margin-bottom: $spacer * 0.5;
  }

  &__body {
    flex-grow: 1;
    padding: $spacer;

    h4 {
      min-height: 57.6px;
    }
  }
}
