@import "src/scss/module";

.hero {
  position: relative;

  [class*="carousel-control-"] {
    width: $spacer * 3;

    [class*="prev-icon"] {
      width: 0;
      height: 0;
      border-right: 6px solid $card-text-color;
      border-bottom: 6px solid transparent;
      border-top: 6px solid transparent;
      background-image: none;
    }

    [class*="next-icon"] {
      width: 0;
      height: 0;
      border-left: 6px solid $card-text-color;
      border-bottom: 6px solid transparent;
      border-top: 6px solid transparent;
      background-image: none;
    }
  }
}
