@import "src/scss/module";

.listings {
  ul[role="tablist"] {
    width: 100%;

    li[role="presentation"] {
      flex-grow: 1;

      button[role="tab"] {
        width: 100%;
        border-radius: 0;
        border: 0;
        background-color: $gray-200;
        color: $dark;
        text-align: left;

        &[aria-selected="true"] {
          background-color: $gray-300;
        }

        figure {
          width: 25px;
          max-width: 100%;
          height: 25px;
          margin: 0;

          img {
            object-fit: cover;
          }
        }
      }
    }
  }

  div[class="tab-content"] {
    background-color: $gray-300;
  }
}
