@import "src/scss/module";

.content {
  &__details {
    dl {
      display: flex;
      gap: $spacer * 0.5;

      dt {
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          fill: var(#{--bs-quaternary});
        }
      }

      dd {
        margin-bottom: 0;
      }
    }

    &__cta {
      width: 100%;

      a {
        width: 100%;
        border-radius: 0;
        height: 48px;
      }
    }
  }
}
