@import "../../scss/module";

.locator {
  padding: $spacer;
  background-color: var(#{--bs-primary});
  color: $white;

  label {
    font-weight: $font-weight-bold;
  }

  input,
  select {
    border: 1px solid $dark;
  }
}
