@import "src/scss/module";

.content {
  img {
    border-radius: var(#{--bs-border-radius});
  }

  &__info {
    border-radius: var(#{--bs-border-radius});

    dl {
      dt {
        font-weight: $font-weight-base;
      }

      dd {
        font-weight: $font-weight-bold;
      }
    }
  }

  &__features {
    li {
      list-style-image: escape-svg(
        url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 0C4.5 0 0 4.5 0 10C0 15.5 4.5 20 10 20C15.5 20 20 15.5 20 10C20 4.5 15.5 0 10 0ZM8 15L3 10L4.41 8.59L8 12.17L15.59 4.58L17 6L8 15Z" fill="#1B1464"/></svg>')
      );
      margin-bottom: $spacer;
    }
  }

  &__result {
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
