@import "src/scss/module";

.content {
  img {
    border-radius: var(#{--bs-border-radius});
  }

  &__info {
    border-radius: var(#{--bs-border-radius});

    dl {
      dt {
        font-weight: $font-weight-base;
      }

      dd {
        font-weight: $font-weight-bold;
      }
    }
  }
}
