@import "src/scss/module";

.footer {
  &__nav {
    & > div {
      flex-basis: 240px;
    }

    h3 {
      min-height: 38px;
    }

    a {
      text-transform: capitalize;
      color: inherit;
      margin-left: -$spacer;
      margin-right: -$spacer;

      &:focus,
      &:hover {
        color: inherit;
        background-color: rgba($black, 0.025);
      }
    }
  }

  &__socials {
    flex-direction: row;
    align-items: center;

    a {
      transition: 0.3s;

      &:hover {
        transform: translateY(-0.25em);
      }
    }
  }

  &__details {
    align-items: center;

    dl {
      margin: 0;

      dt {
        margin: 0;
      }

      dd {
        margin: 0;
      }
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__brand {
    img {
      width: 260px;
      height: 44px;
    }
  }

  &__copyright {
    align-items: center;

    dl {
      display: flex;

      @include media-breakpoint-up(md) {
        &:before {
          content: "|";
          margin: 0 $spacer * 0.25;
        }
      }

      dt {
        margin: 0;

        &:after {
          content: ":";
          margin-right: $spacer * 0.25;
        }
      }

      dd {
        margin: 0;
      }
    }
  }
}
