@import "src/scss/module";

.card {
  margin: 1px;
  position: relative;
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100%;
  color: $overlay-text-color;

  &__body {
    position: absolute;
    top: 0;
    left: 0;
    padding: $spacer;

    h4 {
      text-transform: capitalize;
    }
  }
}
