@import "src/scss/module";

.featured {
  position: relative;

  [role="tab"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    text-align: center;
    color: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &[aria-selected="true"] {
      background-color: transparent;
      color: inherit;
    }
  }

  [role="tabpanel"] {
    height: 100%;
    background-color: transparent;

    article {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }

  &[class*="vertical"] {
    [role="tablist"] {
      flex-shrink: 0;
      flex-basis: 240px;
    }
  }
}
