@import "src/scss/module";

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  text-align: left;
  margin-bottom: 0;

  section {
    flex-grow: 1;
  }

  cite {
    font-style: normal;
    opacity: 0.75;

    b {
      font-weight: $font-weight-semibold;
    }
  }
}
