@import "src/scss/module";

.socials {
  width: 68px;
  border: 1px solid $dark;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacer;
    @include darken-on-hover;

    svg {
      transition: $transition-base;
    }

    &:hover,
    &:focus {
      svg {
        scale: 1.1;
      }
    }
  }
}
