@import "src/scss/module";

.feed {
  &__filters {
    background-color: var(#{--bs-primary});
    color: $white;
    border-radius: var(#{--bs-border-radius});

    [class="dropdown"] {
      width: 100%;
    }

    [class*="dropdown-menu"] {
      width: 100%;
    }

    [class="dropdown-item"] {
      &:hover {
        background-color: var(#{--bs-light});
      }

      &:focus {
        background-color: var(#{--bs-primary});
      }
    }

    [role="heading"] {
      font-weight: $font-weight-bold;
    }

    [type="button"] {
      width: 100%;
      background-color: $white;
      color: var(#{--bs-tertiary});
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $spacer;
    }
  }

  &__footer {
  }
}
