@import "src/scss/module";

.card {
  text-align: left;
  display: flex;
  flex-direction: column;

  figure {
    margin-bottom: 0;

    img {
      width: 100%;
    }
  }

  &__body {
    flex-grow: 1;
    padding: $spacer;
    background-color: $light;

    h4 {
      min-height: 57.6px;
      text-transform: capitalize;
    }
  }
}
