@import "src/scss/module";

.card {
  text-align: left;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: $text-color;
  overflow: hidden;
  @include card-hover-rise;

  figure {
    margin: 0;

    img {
      width: 100%;
      transition: 0.3s;
    }
  }

  &__body {
    flex-grow: 1;
    padding: $spacer;
    background-color: $light;

    h4 {
      min-height: 57.6px;
    }
  }
}
