@import "src/scss/module";

.item {
  border-bottom: 1px solid;

  header {
    cursor: pointer;
    transition: $transition-base;

    a {
      display: flex;
      align-items: center;

      &:before {
        width: 42px;
        content: "More";
      }

      &:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-color: $black;
        margin-top: 3px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid;
        vertical-align: middle;
        transition: transform $transition-base;
      }
    }

    &:hover,
    &:focus {
      color: $primary;

      &:after {
      }
    }
  }

  section {
    max-height: 0vh;
    overflow: hidden;
    transition: 0.4s;
  }

  &--active {
    header {
      color: $primary;

      a {
        &:before {
          content: "Less";
        }
        &:after {
          transform: rotateX(180deg);
        }
      }
    }

    section {
      max-height: 100vh;
      overflow: hidden;
    }
  }
}
