@import "src/scss/module";

.recruiter {
  img {
    border-radius: 100px;
  }

  h2 {
    text-transform: capitalize;
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    gap: $spacer * 0.5;

    dd {
      text-transform: capitalize;
    }
  }

  a {
    color: $text-color;
    text-decoration: none;
    font-weight: $font-weight-bold;
  }
}
