@import "src/scss/module";

.card {
  display: block;
  color: $text-color;
  border: 1px solid $dark;
  text-decoration: none;
  padding-top: $spacer;
  @include card-hover-rise;

  &__body {
    height: 100%;
    padding: $spacer;
    display: flex;
    flex-direction: column;

    h3 {
      text-transform: capitalize;
    }

    time {
      font-size: $font-size-sm;
    }
  }
}
