@import "src/scss/module";

.logos {
  &__carousel {
    display: flex;

    [class*="carousel-control-"] {
      position: relative;
      width: $spacer * 10;

      svg {
        fill: var(#{--bs-primary});
      }
    }

    [class="carousel-control-prev"] {
      order: 1;
    }

    [class="carousel-inner"] {
      order: 2;
    }

    [class="carousel-control-next"] {
      order: 3;
    }
  }
}
