@import "src/scss/module";

.article {
  &__share {
    z-index: 3;
  }

  &__published {
    color: $white !important;
    margin-bottom: 0;

    svg {
      fill: $white !important;
    }
  }

  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 360px;

    & > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }

    & > div {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 2;
    }
  }

  &__body {
    h2,
    .h2,
    h3,
    .h3 {
      color: var(#{--bs-tertiary});
    }

    img {
      border-radius: var(#{--bs-border-radius-sm});
    }
  }
}
