@import "src/scss/module";

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacer * 0.5;
  font-size: $font-size-sm;
  color: rgba($text-color, 0.66);

  svg {
    fill: var(#{--bs-quaternary});
  }
}
