@import "src/scss/module";

.header {
  border: 1px solid $dark;
  padding: 0;

  [class*="dropdown-toggle"] {
    &::after {
      margin-left: $spacer * 0.5;
      margin-right: $spacer * 0.5;
    }
  }

  [class*="dropdown"][class*="nav-item"] {
    &:last-of-type {
      margin-right: -1px;
    }

    & > [role="button"] {
      text-transform: capitalize;
      padding: $spacer;

      &:focus,
      &:hover {
        background-color: rgba($black, 0.025);
      }
    }
  }

  [class*="dropdown-menu"] {
    border: 1px solid $dark;
    border-radius: 0;
    margin-top: 0;
    padding: 0;

    [role="button"] {
      text-transform: capitalize;
      padding: $spacer * 0.5 $spacer;
      white-space: nowrap;

      &:focus,
      &:hover {
        background-color: rgba($black, 0.025);
      }
    }
  }
}
