@import "module";

#__next {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  margin: auto;
  min-height: 100vh;

  & > main {
    padding-top: 56px;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  a {
    color: inherit;
    text-decoration: none;
  }
}

h1,
.h1 {
  margin-bottom: $spacer * 1.5;
  font-family: var(#{--bs-font-family-h1});
  font-weight: var(#{--bs-font-weight-h1});
}

h2,
.h2 {
  margin-bottom: $spacer * 1.5;
  font-family: var(#{--bs-font-family-h2});
  font-weight: var(#{--bs-font-weight-h2});
}

h3,
.h3 {
  margin-bottom: $spacer * 1.5;
  font-family: var(#{--bs-font-family-h3});
  font-weight: var(#{--bs-font-weight-h3});
}

h4,
.h4 {
  font-family: var(#{--bs-font-family-h4});
  font-weight: var(#{--bs-font-weight-h4});
}

h5,
.h5 {
  font-family: var(#{--bs-font-family-h5});
  font-weight: var(#{--bs-font-weight-h5});
}

h6,
.h6 {
  font-family: var(#{--bs-font-family-h6});
  font-weight: var(#{--bs-font-weight-h6});
}

li,
p {
  a {
    color: var(#{--bs-primary});
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.mw {
  &-sm {
    max-width: map-get($container-max-widths, "sm");
  }

  &-md {
    max-width: map-get($container-max-widths, "md");
  }

  &-lg {
    max-width: map-get($container-max-widths, "lg");
  }

  &-xl {
    max-width: map-get($container-max-widths, "xl");
  }

  &-xxl {
    max-width: map-get($container-max-widths, "xxl");
  }
}

.text {
  &-white {
    a {
      color: $white !important;
    }
    svg {
      fill: $white;
    }
  }
  &-dark {
    svg {
      fill: $dark;
    }
  }
}

details {
  summary {
    font-weight: $font-weight-bold;
  }
}

b,
strong {
  font-weight: $font-weight-semibold;
}

hr {
  opacity: 0.25;
}

[data-sourceflow-path]:not(img):empty {
  display: none;
}

.sr-only {
  display: none;
}

.btn {
  --bs-btn-font-family: var(#{--bs-font-family-button});

  &-block {
    width: 100%;
  }

  &-outline {
    &-primary {
      --bs-btn-color: var(#{--bs-primary}) !important;
      --bs-btn-border-color: var(#{--bs-primary}) !important;
      --bs-btn-hover-bg: var(#{--bs-primary}) !important;
      --bs-btn-hover-border-color: var(#{--bs-primary}) !important;
      --bs-btn-active-bg: var(#{--bs-primary-active}) !important;
      --bs-btn-active-border-color: var(#{--bs-primary-active}) !important;

      svg {
        transition: $transition-base;
        stroke: var(#{--bs-primary});
      }

      &:hover {
        svg {
          stroke: #fff;
        }
      }
    }

    &-secondary {
      --bs-btn-color: var(#{--bs-secondary}) !important;
      --bs-btn-border-color: var(#{--bs-secondary}) !important;
      --bs-btn-hover-bg: var(#{--bs-secondary}) !important;
      --bs-btn-hover-border-color: var(#{--bs-secondary}) !important;
      --bs-btn-active-bg: var(#{--bs-secondary-active}) !important;
      --bs-btn-active-border-color: var(#{--bs-secondary-active}) !important;

      svg {
        transition: $transition-base;
        stroke: var(#{--bs-secondary});
      }

      &:hover {
        svg {
          stroke: #fff;
        }
      }
    }

    &-tertiary {
      --bs-btn-color: var(#{--bs-tertiary}) !important;
      --bs-btn-border-color: var(#{--bs-tertiary}) !important;
      --bs-btn-hover-bg: var(#{--bs-tertiary}) !important;
      --bs-btn-hover-border-color: var(#{--bs-tertiary}) !important;
      --bs-btn-active-bg: var(#{--bs-tertiary-active}) !important;
      --bs-btn-active-border-color: var(#{--bs-tertiary-active}) !important;

      svg {
        transition: $transition-base;
        stroke: var(#{--bs-tertiary});
      }

      &:hover {
        svg {
          stroke: #fff;
        }
      }
    }

    &-quaternary {
      --bs-btn-color: var(#{--bs-quaternary}) !important;
      --bs-btn-border-color: var(#{--bs-quaternary}) !important;
      --bs-btn-hover-bg: var(#{--bs-quaternary}) !important;
      --bs-btn-hover-border-color: var(#{--bs-quaternary}) !important;
      --bs-btn-active-bg: var(#{--bs-quaternary-active}) !important;
      --bs-btn-active-border-color: var(#{--bs-quaternary-active}) !important;

      svg {
        transition: $transition-base;
        stroke: var(#{--bs-quaternary});
      }

      &:hover {
        svg {
          stroke: #fff;
        }
      }
    }
  }

  &-primary {
    --bs-btn-bg: var(#{--bs-primary}) !important;
    --bs-btn-border-color: var(#{--bs-primary}) !important;
    --bs-btn-hover-bg: var(#{--bs-primary-active}) !important;
    --bs-btn-hover-border-color: var(#{--bs-primary-active}) !important;
    --bs-btn-active-bg: var(#{--bs-primary-active}) !important;
    --bs-btn-active-border-color: var(#{--bs-primary-active}) !important;
  }

  &-secondary {
    --bs-btn-bg: var(#{--bs-secondary}) !important;
    --bs-btn-border-color: var(#{--bs-secondary}) !important;
    --bs-btn-hover-bg: var(#{--bs-secondary-active}) !important;
    --bs-btn-hover-border-color: var(#{--bs-secondary-active}) !important;
    --bs-btn-active-bg: var(#{--bs-secondary-active}) !important;
    --bs-btn-active-border-color: var(#{--bs-secondary-active}) !important;
  }

  &-tertiary {
    --bs-btn-bg: var(#{--bs-tertiary}) !important;
    --bs-btn-border-color: var(#{--bs-tertiary}) !important;
    --bs-btn-hover-bg: var(#{--bs-tertiary-active}) !important;
    --bs-btn-hover-border-color: var(#{--bs-tertiary-active}) !important;
    --bs-btn-active-bg: var(#{--bs-tertiary-active}) !important;
    --bs-btn-active-border-color: var(#{--bs-tertiary-active}) !important;
  }

  &-quaternary {
    --bs-btn-bg: var(#{--bs-quaternary}) !important;
    --bs-btn-border-color: var(#{--bs-quaternary}) !important;
    --bs-btn-hover-bg: var(#{--bs-quaternary-active}) !important;
    --bs-btn-hover-border-color: var(#{--bs-quaternary-active}) !important;
    --bs-btn-active-bg: var(#{--bs-quaternary-active}) !important;
    --bs-btn-active-border-color: var(#{--bs-quaternary-active}) !important;
  }

  &-white {
    --bs-btn-color: var(#{--bs-primary}) !important;
    --bs-btn-hover-color: var(#{--bs-primary-active}) !important;

    svg {
      transition: $transition-base;
      stroke: var(#{--bs-primary});
    }

    &:hover {
      svg {
        stroke: var(#{--bs-primary-active});
      }
    }
  }
}

.hover-bg {
  &-primary {
    transition: $transition-base;

    &:hover,
    &:focus {
      background-color: var(#{--bs-primary}) !important;
    }
  }
  &-secondary {
    transition: $transition-base;

    &:hover,
    &:focus {
      background-color: var(#{--bs-secondary}) !important;
    }
  }
  &-secondary {
    transition: $transition-base;

    &:hover,
    &:focus {
      background-color: var(#{--bs-tertiary}) !important;
    }
  }
  &-quaternary {
    transition: $transition-base;

    &:hover,
    &:focus {
      background-color: var(#{--bs-quaternary}) !important;
    }
  }
}

.form {
  &-label {
    font-weight: $font-weight-semibold;
  }

  &-control {
    border-radius: var(#{--bs-border-radius-sm});
  }

  &-check-input {
    &:checked {
      background-color: var(#{--bs-primary});
      border-color: var(#{--bs-primary});
    }
  }
}

.card {
  --bs-card-border-radius: var(#{--bs-border-radius-sm});
  --bs-card-inner-border-radius: 0;
  border: 0;
  overflow: hidden;

  &-header {
    border-bottom: 0;
    font-weight: $font-weight-semibold;
    padding: $spacer $spacer * 2;
    background-color: var(#{--bs-primary});
    color: $white;

    & > * {
      font-size: inherit;
      font-weight: inherit;
      margin: 0;
    }
  }

  &-body {
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-top: 0;
    border-bottom-left-radius: var(#{--bs-border-radius-sm});
    border-bottom-right-radius: var(#{--bs-border-radius-sm});
    padding: $spacer $spacer $spacer * 2 $spacer;

    @include media-breakpoint-up(md) {
      padding: $spacer * 1.5;
    }
  }
}
