@import "module";

:root {
  --bs-primary: #009ee3;
  --bs-primary-rgb: 0, 158, 227;
  --bs-secondary: #ee721c;
  --bs-secondary-rgb: 238, 114, 28;
  --bs-secondary-active: #be5b16;
  --bs-tertiary: #1b1464;
  --bs-tertiary-rgb: 27, 20, 100;
  --bs-tertiary-active: #161153;
  --bs-quaternary: #e50b7e;
  --bs-quaternary-rgb: 229, 11, 126;
  --bs-quaternary-active: #b70965;
  --bs-light: #dff1fd;
  --bs-light-rgb: 223, 241, 253;
  --bs-dark: #6f6f6f;
  --bs-dark-rgb: 111, 111, 111;
  --bs-border-radius: 10px;
  --bs-border-radius-sm: 6px;
  --bs-font-family: Helvetica Neue, sans-serif;
  --bs-font-family-heading: Arial Black, Helvetica Neue, sans-serif;
  --bs-font-family-heading-small: Arial, Helvetica Neue, sans-serif;
}

#__next {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  text-transform: capitalize;

  a {
    color: inherit;
    text-decoration: none;
  }
}

h1,
.h1 {
  margin-bottom: $spacer * 2;
  font-family: var(#{--bs-font-family-h1});
  font-weight: var(#{--bs-font-weight-h1});
}

h2,
.h2 {
  margin-bottom: $spacer * 2;
  font-family: var(#{--bs-font-family-h2});
  font-weight: var(#{--bs-font-weight-h2});
}

h3,
.h3 {
  margin-bottom: $spacer * 2;
  font-family: var(#{--bs-font-family-h3});
  font-weight: var(#{--bs-font-weight-h3});
}

h4,
.h4 {
  font-family: var(#{--bs-font-family-h4});
  font-weight: var(#{--bs-font-weight-h4});
}

h5,
.h5 {
  font-family: var(#{--bs-font-family-h5});
  font-weight: var(#{--bs-font-weight-h5});
}

h6,
.h6 {
  font-family: var(#{--bs-font-family-h6});
  font-weight: var(#{--bs-font-weight-h6});
}

.mw {
  &-sm {
    max-width: map-get($container-max-widths, "sm");
  }

  &-md {
    max-width: map-get($container-max-widths, "md");
  }

  &-lg {
    max-width: map-get($container-max-widths, "lg");
  }

  &-xl {
    max-width: map-get($container-max-widths, "xl");
  }

  &-xxl {
    max-width: map-get($container-max-widths, "xxl");
  }
}

.text {
  &-white {
    a {
      color: $white;
    }
    svg {
      fill: $white;
    }
  }
  &-dark {
    svg {
      fill: $dark;
    }
  }
}

details {
  summary {
    font-weight: $font-weight-bold;
    text-transform: capitalize;
  }
}

b,
strong {
  font-weight: $font-weight-semibold;
}

hr {
  opacity: 1;
}

.btn {
  &-primary {
    --bs-btn-bg: var(#{--bs-primary}) !important;
    --bs-btn-border-color: var(#{--bs-primary}) !important;
    --bs-btn-hover-bg: var(#{--bs-primary-active}) !important;
    --bs-btn-hover-border-color: var(#{--bs-primary-active}) !important;
    --bs-btn-active-bg: var(#{--bs-primary-active}) !important;
    --bs-btn-active-border-color: var(#{--bs-primary-active}) !important;
  }

  &-secondary {
    --bs-btn-bg: var(#{--bs-secondary}) !important;
    --bs-btn-border-color: var(#{--bs-secondary}) !important;
    --bs-btn-hover-bg: var(#{--bs-secondary-active}) !important;
    --bs-btn-hover-border-color: var(#{--bs-secondary-active}) !important;
    --bs-btn-active-bg: var(#{--bs-secondary-active}) !important;
    --bs-btn-active-border-color: var(#{--bs-secondary-active}) !important;
  }

  &-tertiary {
    --bs-btn-bg: var(#{--bs-tertiary}) !important;
    --bs-btn-border-color: var(#{--bs-tertiary}) !important;
    --bs-btn-hover-bg: var(#{--bs-tertiary-active}) !important;
    --bs-btn-hover-border-color: var(#{--bs-tertiary-active}) !important;
    --bs-btn-active-bg: var(#{--bs-tertiary-active}) !important;
    --bs-btn-active-border-color: var(#{--bs-tertiary-active}) !important;
  }

  &-quaternary {
    --bs-btn-bg: var(#{--bs-quaternary}) !important;
    --bs-btn-border-color: var(#{--bs-quaternary}) !important;
    --bs-btn-hover-bg: var(#{--bs-quaternary-active}) !important;
    --bs-btn-hover-border-color: var(#{--bs-quaternary-active}) !important;
    --bs-btn-active-bg: var(#{--bs-quaternary-active}) !important;
    --bs-btn-active-border-color: var(#{--bs-quaternary-active}) !important;
  }
}

.hover-bg {
  &-primary {
    transition: $transition-base;

    &:hover,
    &:focus {
      background-color: var(#{--bs-primary}) !important;
    }
  }
  &-secondary {
    transition: $transition-base;

    &:hover,
    &:focus {
      background-color: var(#{--bs-secondary}) !important;
    }
  }
  &-secondary {
    transition: $transition-base;

    &:hover,
    &:focus {
      background-color: var(#{--bs-tertiary}) !important;
    }
  }
  &-quaternary {
    transition: $transition-base;

    &:hover,
    &:focus {
      background-color: var(#{--bs-quaternary}) !important;
    }
  }
}

.form {
  &-label {
    font-weight: $font-weight-semibold;
  }
}

.card {
  --bs-card-border-radius: var(#{--bs-border-radius-sm});
  --bs-card-inner-border-radius: 0;
  border: 0;
  overflow: hidden;

  &-header {
    border-bottom: 0;
    font-weight: $font-weight-semibold;
    padding: $spacer $spacer * 2;
    background-color: var(#{--bs-primary});
    color: $white;
  }

  &-body {
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-top: 0;
    border-bottom-left-radius: var(#{--bs-border-radius-sm});
    border-bottom-right-radius: var(#{--bs-border-radius-sm});
    padding: $spacer * 2;
  }
}
