@import "bootstrap/scss/variables";

$headings-font-weight: $font-weight-bold;
$btn-border-radius: 0;
$btn-padding-x: $spacer * 3;

$text-color: $black;
$overlay-text-color: $black;

$card-img-overlay-color: $black;
$card-text-color: $white;
