@import "src/scss/module";

.card {
  display: block;
  color: $text-color;
  border-bottom: 1px solid $dark;
  text-decoration: none;
  padding-top: $spacer;
  max-width: 384px;

  &__img {
    width: 100%;
    max-width: 384px;
    height: 179px;
    object-fit: cover;
  }

  &__body {
    display: flex;
    flex-direction: column;

    time {
      font-size: $font-size-sm;
      color: rgba($text-color, 0.66);
    }
  }
}
