@import "src/scss/module";

.card {
  display: block;
  color: $text-color;
  border-bottom: 1px solid $gray-300;
  text-decoration: none;
  padding-top: $spacer * 0.5;
  max-width: 384px;

  &__img {
    width: 100%;
    max-width: 180px;
    height: 84px;
    object-fit: cover;
    border-radius: var(#{--bs-border-radius-sm});
  }

  &__body {
    display: flex;
    flex-direction: column;
  }
}
