@import "src/scss/module";

.card {
  display: block;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100%;
  text-decoration: none;
  color: $dark;
  transition: 0.3s;

  &:hover {
    scale: 1.05;
    box-shadow: $box-shadow-sm;
  }

  &__body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: $spacer;

    h4 {
      text-transform: capitalize;
    }

    p {
      margin-bottom: 0;
      text-transform: capitalize;
    }
  }
}
