@import "src/scss/module";

.card {
  @include img-overlay__container;
  display: block;
  padding-top: 100%;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    scale: 1.05;
    box-shadow: $box-shadow-sm;
  }

  &__img {
    @include img-overlay__img;
    filter: grayscale(100);
  }

  &:hover &__img {
    scale: 1.05;
    filter: grayscale(0);
  }

  &__body {
    @include img-overlay__body;
    padding: $spacer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    p {
      margin-bottom: 0;
    }
  }
}
